.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem;
  color: #57a4fe;
  margin: 0 5px;
}

.link:hover {
  background: #94fe57;
}