.App {
  text-align: center;
}

button {
  border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2px;
  background: #c0bfbf;
}

.cell {
  background: #e0e0e0;
  padding: 1rem;
}

.result-field {
  grid-column: 1 / span 4;
  background: #858694;
  text-align: right;
  padding-right: 4px;
  padding: 1rem;
}

.main-operation {
  background: #ef913e;
}

.zero {
  background: #e0e0e0;
  grid-column: 1 / span 2;
}
